body{
    margin: auto;
    padding:auto;
    font-family: 'Open Sans', sans-serif;
}
.container-fluid{
    position: relative;
    padding:none;
}
.cookie-div{
    width:100%;
    height:auto;
    background: rgb(224, 224, 224);
    border-top: 3px solid white;
    position: fixed;
    bottom:0;
    padding: 20px;
    color: rgb(134, 0, 0);
    font-size: auto;
    text-align: justify;
}
.cookie-div button{
    background: rgb(80, 2, 2);
    color:white;
    border: none;
    padding: 10px;
}
@media(max-width:768px){
    .cookie-div{
        font-size: 15px;
    }
}

@media(max-width:450px){
    .cookie-div{
        font-size: 12px;
    }
}
