.contact-content{
    height:auto;
    margin: 0 auto;
    padding: 0px !important;
    background: url('../images/bg5.jpg');
    background-size: cover;
}
.contact-background{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: rgba(3, 0, 0, 0.822);
    padding: 5px;
}
.contact-header{
    width: 100%;
    padding: 40px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 25px;
}
.form-adress{
    width:100%;
    height:auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    color: white;
}
.form-contact{
    width:50%;
    height: auto;
    display: block;
    text-align: center;
    padding: 5px;
}
.form-contact input{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    border:1px solid rgb(197, 197, 197);
    outline:none;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
    background: none;
    color: white;
    font-weight:600;
}
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
textarea {
    border:none;
    outline:none;
    max-height: 300px;
    min-height: 300px;
    width: 100%;
    padding: 10px;
    color: white;
    border:1px solid rgb(197, 197, 197);
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
    background: none;
    resize: none;
}
.form-contact button{
    background: none;
    border:1px solid white;
    outline:none;
    padding: 20px;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
    color: white;
    width:200px;
}
.info-sent{
    width:50%;
    height: 400px;
    text-align: center;
    display: block;
    padding: 0;
}
.icon-sent{
    width:200px;
    height:200px;
    background-image: radial-gradient(rgb(73, 0, 0),rgb(7, 4, 4));
    box-shadow: 0px 0px 20px white;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    display: block;
}
.ok-icon{
    font-size: 50px;
    color:green;
    margin-top:25%;
    font-size: 100px;
}
.fa-times{
    font-size: 50px;
    color:rgb(170, 0, 0);
    margin-top:25%;
    font-size: 100px;
}
.info-sent p{
    margin-top: 30px;
    width: 100%;
    padding: 25px;
}
.adress{
    width: 50%;
    height:auto;
    border-left:5px solid rgb(196, 10, 10);
}
.adress p{
    justify-content: left;
    margin: 0 auto;
    position: relative;
    width: 80%;
    top:10%;
    transform: translateY(-10%);
    font-weight: 600;
    font-size: 20px;
    color: rgb(226, 226, 226);
    margin-bottom:20px;
    display: block;
}
.adress p:first-child{
    text-transform: uppercase;
    color:rgb(221, 190, 17);
    font-size: 25px;
}
.adress .fas{
    font-size: 26px;
    margin-right: 20px;
    color:rgb(221, 190, 17);
}

@media(max-width:992px){
    .icon-sent{
        width:200px;
        height:200px;
    }
    .ok-icon{
        font-size: 100px;
    }
    .fa-times{
        font-size: 100px;
    }
    .info-sent p{
        padding: 25px;
    }
    .adress p{
        font-size: 16px;
        width: 90%;
    }
    .adress p:first-child{
        font-size: 18px;
    }
}
@media(max-width:768px){
    .form-adress{
        display: block;
        padding: 5px;
        margin-bottom: 5px;
    }
    .form-contact{
        width:100%;
    }
    .adress{
        display: none;
    }
    .info-sent{
        width:100%;
        height: 400px;
    }
    .icon-sent{
        width:200px;
        height:200px;
    }
    .info-sent p{
        padding: 25px;
    }  
    
}
@media(max-width:576px){
    .info-sent{
        width:100%;
        height: 250px;
    }
    .icon-sent{
        width:150px;
        height:150px;
    }
    .ok-icon{
        font-size: 80px;
    }
    .fa-times{
        font-size: 80px;
    }
    .info-sent p{
        padding: 20px;
        font-size: 15px;
    }  
}
@media(max-width:400px){
    .contact-header{
        padding: 2px;
        font-size: 20px;
    }
    .contact-content{
        background-size: 100% 20%;
    }
    .form-adress{
        display: block;
    }
    .form-contact{
        width:100%;
    }
    .form-contact input{
        width: 100%;
        font-size: 15px;
    }
    .form-contact button{
        width: 100%;
        padding: 10px;
    }
    textarea{
        font-size: 15px;
    }
    .info-sent{
        width:100%;
        height: 200px;
    }
    .icon-sent{
        width:100px;
        height:100px;
    }
    .ok-icon{
        font-size: 50px;
    }
    .fa-times{
        font-size: 50px;
    }
    .info-sent p{
        padding: 5px;
        font-size: 12px;
    }
}