.footer{
    bottom: 0;
    height:300px;
    background: rgb(0, 0, 0);
    padding: 0px !important;
    color: rgb(201, 201, 201);
    justify-content: center;
}
.footer-content{
    margin:0 auto;
    height:100%;
    padding: 0px !important;
    text-align: center;
    display: flex;
}
.footer-logo{
    height:100%;
    text-align: center;
}
.footer-logo img{
    width: 160px;
    height: 120px;
    opacity: 0.6;
    transform: translateY(60%);
    box-shadow: 0 0 10px black;
}
.footer-contact{
    height: 100%;
    padding: 0 !important;
    border-right:2px solid silver;
}
.footer-contact ul{
    position: relative;
    list-style-type: none;
    height: auto;
    width: 100%;
    top:50%;
    transform: translateY(-50%);
}
.footer-contact li{
    text-align: justify;
}
.footer ul li a{
    text-decoration: none;
    color:rgb(226, 226, 226);
}
.footer-contact p{
    font-size: 16px;
    display: inline-block;
    margin: 5px;
}
.footer-nav{
    text-align: justify;
    padding: 0 !important;
}
.footer-nav ul{
    padding: 0 !important;
    margin:0 !important;
    position: relative;
    width:100%;
    height:100%;
    list-style-type:none;
}
.footer-nav li {
    position: relative;
    display: block;
    text-align: center;
    top:25%;
    padding: 10px;
    transform: translateY(-50%);
}
.footer-nav li:hover{
    color:white;
    cursor: pointer;
}

@media(max-width:992px){
    .footer{
        padding: 20px !important;
        height: auto;
    }
    .footer-content{
        display: block;
    }
    .footer-logo{
        float: left;
        height: auto;
    }
    .footer-logo img{
        padding: 5px;
        top:0%;
        transform: translateY(0%);
    }
    .footer-contact{
        height: auto;
        float: left;
        padding: 10px;
        border-right:none;
    }
    .footer-contact ul{
        top:0%;
        transform: translateY(0%);
    }
    .footer-contact li{
        margin-left:10%;
    }
    .footer-nav{
        float: left;
        height: auto;
    }
    .footer-nav ul{
        display: flex;
        flex-grow: 1;
        align-items: center;
    }
    .footer-nav li{
        margin: 5px auto;
        top:2%;
        transform: translateY(0%); 
    }
}
@media(max-width:576px){
    .footer-logo img{
        width: 100px;
        height: 80px;
    }
    .footer-contact{
        padding: 0 !important;
        margin: 0;
    }
    .footer-contact ul{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }    
    .footer-contact li{
        margin-left: 0px;
        text-align: center;
    }
    .footer-contact li p{
        font-size: 12px;
    }
    .footer-nav li{
        font-size: 12px;
    }
}
@media(max-width:300px){
    .footer-contact li p{
        font-size: 10px;
        display: block;
    }
    .footer-nav ul{
        display: block;
    }
    .footer-nav li{
        font-size: 10px;
        border: 1px solid silver;
    }
}