.footer{
    bottom: 0;
    display: block;
    height:auto;
    background:rgb(0, 0, 0);
    padding: 0 !important;
    color: rgb(201, 201, 201);
    overflow: hidden;
}
.footer-content{
    margin:0 auto;
    height:300px;
    padding: 0 !important;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.footer-logo{
    height:100%;
    text-align: center;
}
.footer-logo img{
    position: relative;
    width: 160px;
    height: 120px;
    opacity: 0.6;
    transform: translateY(60%);
    box-shadow: 0px 0px 10px rgb(59, 59, 59);
}
.footer-contact{
    height:100%;
    padding: 0 !important;
    border-right:2px solid silver;
    display: block;
}
.footer-contact-title{
    height: auto;
    padding: 10px;
    font-size: 18px;
}
.footer-contact ul{
    position: relative;
    list-style-type: none;
    height: auto;
    width: 100%;
    top:20%;
    transform: translateY(-20%);
    display: block;
    margin: 0;
    padding: 0;
}
.footer-contact li{
    margin: 0 auto;
    width: 80%;
    text-align: justify;
    padding: 10px;
}
.footer ul li a{
    text-decoration: none;
    color:rgb(226, 226, 226);
}
.footer ul li .fas{
    display:inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: red;
}
.footer-contact ul li p{
    font-size: 16px;
    margin: 0%;
    display:inline-block;
}
.footer-nav{
    height:100%;
    text-align: justify;
    padding: 0 !important;
}
.footer-nav ul{
    position: relative;
    padding: 0 !important;
    margin:0 !important;
    width:100%;
    height:auto;
    list-style-type:none;
    top:50%;
    transform: translateY(-50%);
}
.footer-nav li {
    height: auto;
    position: relative;
    display: block;
    text-align: center;
    padding: 10px;
    border-right: 2px solid silver;
}
.footer-nav li:hover{
    color:rgb(122, 2, 2);
    cursor: pointer;
}
.preparation{
    position: relative;
    width: 100%;
    height:auto;
    margin:0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(73, 0, 0);
}
.preparation p{
    margin-top:10px;
    font-size: 13px;
    position: relative;
    display: block;
    color:rgb(165, 150, 65);
}
.preparation img{
    margin-top:5px;
    width:85px;
    height:30px;
    position: relative;
    margin-left: 10px;
    display: inline-block;
}

@media(max-width:991px){
    .footer-content{
        display: block;
    }
    .footer-logo{
        float: left;
        height: 80%;
    }
    .footer-logo img{
        padding: 5px;
        top:0%;
        transform: translateY(0%);
    }
    .footer-contact{
        float: left;
        height: 80%;
        border-right:none;
        padding: 0 !important;
    }
    .footer-contact-title{
        width: 100%;
        height:20%;
        margin:0;
        text-align: left;
    }
    .footer-contact ul{
        height:80%;
        top:0%;
        transform: translateY(0%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer-contact ul li{
        margin: 0;
        width:45%;
        height:50%;
        text-align: center;
    }
    .footer ul li .fas{
        margin-top: 5px;
        display: block;
    }
    .footer-contact ul li p{
        position: relative;
        top: 20%;
        transform: translateY(-20%);
        display: block;
        font-size: 14px;
    }
    .footer-nav{
        float: left;
        display: block;
        height:20%;
        padding: 0;
        margin:0;
        background: #000;
    }
    .footer-nav ul{
        height: 100%;
        display: flex;
        flex-direction: row;
        top:0%;
        transform: translateY(0%);
        padding: 0;
    }
    .footer-nav ul li{
        width: 30%;
        height: auto;
        margin: 0 auto;
        top:0%;
        transform: translateY(0%);
        border:none;
    }
}
@media(max-width:768px){
    .footer-contact ul li p{
        font-size: 12px;
    }
}
@media(max-width:575px){
    .footer-logo{
        height:auto;
    }
    .footer-logo img{
        width: 100px;
        height: 80px;
    }
    .footer-contact{
        height:auto;
        padding: 0 !important;
        margin: 0 !important;
    }
    .footer-contact-title{
        text-align: center;
    }
    .footer-contact ul li{
        text-align: center;
        position: relative;
        margin: 0 auto;
        width: 50%;
        height: auto;
        padding: 10px;
        top:0%;
    }
    .footer ul li .fas{
        margin: 0 auto;
        position: relative;
    }
    .footer-contact ul li p{
        text-align: center;
        font-size: 12px;
    }
    .footer-nav{
        height:auto;
    }
    .footer-nav ul{
        justify-content: center;
    }
    .footer-nav ul li{
        width:33%;
        height: 45px;
        margin: 0;
        font-size: 12px;
        justify-content: center;
    }
    .preparation{
        height:auto;
        flex-direction: column;
    }
    .preparation p{
        margin:5px auto;
        font-size: 10px;
    }
    .preparation img{
        margin:5px auto;
    }
}
@media(max-width:400px){
    .footer-contact ul li{
        width: 100%;
    } 
}
@media(max-width:300px){
    .footer-contact li p{
        font-size: 10px;
        display: block;
    }
    .footer-nav{
        height:auto;
    }
    .footer-nav ul{
        flex-direction: column;
    }
    .footer-nav ul li{
        width: 100%;
        padding: 10px;
        font-size: 10px;
    }
}
