.nav-container{
    width: 100%;
    height:120px;
    padding: 0px;
    background:rgb(0, 0, 0);
    top:0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.navigation-elements{
    margin: 0 auto;
    position: relative;
    height:100%;
}
.menu-logo{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width:9rem;
    padding: 0;
    float: left;
    outline: none;
    z-index: 1;
}
.contact-container{
    width:100%;
    height:100%;
    float: left;
}
.menu{
    width:60%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    float: right;
}
.menu ul{
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu ul li{
    position: relative;
    width: 30%;
    height:100%;
    padding: 0;
    text-align: center;
}
.menu ul li:last-child{
    border-right: none;
}
.menu ul li a{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px;
}
.li-icon{
    position: relative;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 25px;
}
.menu ul li a:hover{
    color:silver; 
}
.navbar-btn{
    width:45px;
    height:40px;
    display: none;
    outline: none !important;
    border:none !important;
    margin-right:5%;
}
.navbar-btn span{
    width:100%;
    height:4px;
    display: block;
    margin-top: 10px;
    background: white;
}
.navbar-btn span:first-child{
    margin-top: 2px;
}
.navbar-btnX{
    display: none;
    width:45px;
    height:40px;
    outline: none !important;
    border:none !important;
    background: black;
    margin-right:5%;
}
.navbar-btnX span{
    width:100%;
    height:4px;
    display: block;
    background: white;
}
.navbar-btnX span:first-child{
    margin-top: 5px;
    transform: rotate(-45deg);
}
.navbar-btnX span:nth-child(2){
    margin-top: -4px;
    transform: rotate(45deg);
}
.navbar-btnX span:nth-child(3){
    display: none;
}
.sticky{
    width: 100%;
    height:auto;
    top:0;
    position: sticky;
    position: -webkit-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    background-color: black;
    z-index: 300;
}
.sticky .menu-logo{
    width: 6em;
    left:2%;
}
.sticky ul{
    height:100%;
}
.sticky ul li{
    border:none;
}
.sticky ul li a{
    font-size: 13px;
    top:40%;
}
.sticky .li-icon{
    margin-bottom: 10px;
    font-size: 15px;
}

@media(max-width:996px){
    .nav-container{
        font-size: 0.8em;
    }
    .li-icon{
        font-size: 20px;
    }
    .sticky ul li{
        -webkit-clip-path: none;
                clip-path: none;
        background: none;
    }
}
@media(max-width:768px){
    .nav-container{
        height:80px;
        width: 100%;
        display: inline-block;
        padding: 0px;
    }
    .menu ul{
        width: 100%;
        height:100%;
        display: none;
        position: absolute;
        top:80px;
        left:0;
        z-index: 1;
        background-color: rgb(48, 1, 1);
        padding:0;
        margin: 0;
        -webkit-animation-name: slide;
                animation-name: slide;
        -webkit-animation-duration: 0.3s;
                animation-duration: 0.3s;
    }
    .menu ul li{
        position: relative;
        width:30%;
        padding: 0px;
        margin: 0px;
        -webkit-clip-path: none;
                clip-path: none;
        background: none;
    }
    .menu ul li:last-child{
        border-right: none;
    }
    .menu ul li a{
        position: relative;
        font-size: 13px;
        margin-top: 0;
    }
    .li-icon{
        font-size: 15px;
    }
    .menu-logo{
        margin:0 auto;
        width:8em;
        text-align: center;
        background-size: cover;
    }
    .navbar-btn{
        display: block;
        width:50px;
        height: 35px;
        position: absolute;
        right:10px;
        top:20px;
        background: none;
        outline: none;
    }
    .navbar-btnX{
        display: block;
        width:50px;
        height: 35px;
        position: absolute;
        right:10px;
        top:20px;
        background: none;
        outline: none;
    }
    .sticky{
        height:70px;
    }
    .sticky .menu-logo{
        width:6em;
    }
}

@media(max-width:450px){
    .nav-container{
        height:70px;
        padding: 0px;
    }
    .menu-logo{
        width:7em;
    }
    .li-icon{
        font-size: 15px;
    }
    .menu ul{
        top: 80px;
        height: auto;
        padding: 0;
        background:linear-gradient(rgb(102, 0, 0),black);
        flex-direction: column;
    }
    .menu ul li{
        top:0;
        position: relative;
        font-size: 12px;
        padding: 20px;
        width: 100%;
        height: 80px;
        margin-top: 2px;
        border-right: none;
        -webkit-clip-path: none;
                clip-path: none;
    }
    .menu ul li a{
        font-size: 1rem;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
    }
    .li-icon{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
        display: inline-block;
    }
    .navbar-btn{
        width:45px;
        height: 40px;
        top:10px;
    }
    .navbar-btn span{
        width:100%;
        height:3px;
        margin-top: 5px;
    }
    .navbar-btn span:first-child{
        margin-top: 2px;
    }
    .sticky{
        height:70px;
    }
    .sticky .menu-logo{
        width:6em;
    }
    .sticky .navbar-btn{
        top:50%;
        transform: translateY(-50%);
    }
    .sticky .navbar-btn span{
        width:100%;
        height:3px;
        margin-top: 5px;
    }
}
@media(max-width:400px){
    .menu-logo{
        width:7em;
    }
    .navbar-btn{
        top:50%;
        transform: translateY(-50%);
    }
    .navbar-btnX{
        top:50%;
        transform: translateY(-50%);
    }
}
@-webkit-keyframes slide {
    0%{transform:translateY(-100%)}
    100% { -webkit-transform: translateY(0%); }
}
@keyframes slide {
    0%{transform:translateY(-100%)}
    100% { -webkit-transform: translateY(0%); }
}




