.section-prize{
    height:auto;
    display: block;
    padding: 0px !important;
    background: rgb(175, 153, 153);
}
.prize-header{
    width: 100%;
    height: auto;
    text-align: center;
    padding:15px;
    font-size: 30px;
}
.prize-container{
    margin:0 auto;
    height:auto;
    padding: 30px;
    background:radial-gradient(rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.705)),url('../images/bg6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border: 1px solid black;
}
.photo-header{
    width: 100%;
    padding: 50px;
    height: auto;
    background: black;
    color:white;
}
.service-title{
    margin:0 auto;
    text-align: center;
    width: 100%;
    font-size: 25px;
    padding: 25px;
    color:rgb(238, 238, 238);
    border-bottom: 2px solid rgb(173, 0, 0);
}
.prize-services{
    display:flex;
    position: relative;
    height:auto;
    width:100%;
    padding: 10px;
    text-align: center;
    justify-content: center;
}
.prize-service{
    position: relative;
    flex-direction:row;
    width:400px;
    margin-left: 10px;
    padding: 40px;
    display: inline-block;
    text-align: center;
    background:none;
    font-weight: 500;
    font-size: 25px;
    color:rgb(255, 166, 0);
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    opacity: 0.8;
    background: #000;
}
.prize-service:hover{
    background: rgb(255, 255, 255);
    cursor:pointer;
}
.firm-container{
    width: 100%;
    height:auto;
    margin-top: 40px;
    text-align: center;
    color:white;
    padding: 10px;
    justify-content: center;
}
.prize-firm{
    display: inline-block;
    position: relative;
    margin:10px;
    width:35%;
    height: 400px;
    padding: px;
    font-weight: 400;
    font-size: 18px;
    color:rgb(0, 0, 0);
    background: rgb(206, 206, 206);
}
.prize-employee{
    width:100%;
    height:35%;
    background-color: rgb(185, 0, 0);
    padding: 25px;
}
.prize-prize{
    width:100%;
    height: 65%;
    background:url('../images/bg3.jpg');
    background-size: cover;
}
.name-prize{
    font-weight: 400;
    font-size: 20px;
    color: rgb(255, 255, 255);
    opacity: none;
}
.prize{
    left: 0;
    top:50%;
    width: 100%;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    color: rgb(207, 207, 207);
    background: rgb(94, 0, 0);
    padding: 25px;
}
.services{
    margin-top: 40px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.services-elements{
    width: 100%;
    height: auto;
    color:white;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid greenyellow;
}
.services-elements p{
    width: 100%;
    height: auto;
    padding: 10px;
}
.fa-check-circle{
    font-size: 16px;
    color:white;
    margin-right: 5px;
}
.services-elements p:last-child{
    color:rgb(6, 218, 6);
}
.services-description{
    margin:20px auto;
    display: block;
    width:100%;
    height: auto;
    background: rgb(124, 3, 3);
}
.fa-exclamation{
    font-size: 50px;
    color:rgb(219, 219, 219);
}
.services-description p{
  padding: 20px;
  font-size: 18px;
  color:rgb(196, 196, 196);
  font-weight: 800;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}
.docs-container{
    height:auto;
    padding: 40px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(231, 231, 231);
}
.docs p{
    color: rgb(231, 231, 231);
    font-weight: 800;
    -webkit-text-decoration: dashed;
            text-decoration: dashed;
}

@media(max-width:1200px){
    .prize-firm{
        width:40%;
        height: 300px;
    }
    .name-prize{
        font-size: 20px;
    }
    .prize-service{
        width:350px;
        padding:20px;
    }
}
@media(max-width:768px){
    .prize-services{
        display:flex;
        position: relative;
        width:100%;
        padding: 5px;
    }
    .prize-header{
        font-size: 20px;
    }
    .photo-header{
        width: 100%;
        padding: 20px;
        height: auto;
    }
    .service-title{
        font-size: 18px;
        padding: 15px;
    }
    .prize-service{
        margin-left:5px;
        flex-grow: 1;
        flex-direction: row;
        font-size: 13px;
        padding: 20px;
    }
    .services{
        margin-top: 40px;
        width:100%;
        height:auto;
        margin-left: auto;
        margin-right: auto;
        padding: 2px;
    }
    .firm-container{
        margin-top: 20px;
        width: 100%;
        height:auto;
        text-align: center;
        padding: 5px;
    }
    .prize-firm{
        width:45%;
        height: 300px;
        padding: 5px;
        margin:0px;
        font-weight: 400;
        font-size: 15px;
    }
    .name-prize{
        font-size: 15px;
    }
    .prize{
        height: auto;
        font-size: 15px;
        font-weight: 600;
    }
    .services-description{
        margin-top: 20px;
    }
    .services-description p{
        padding: 10px;
        font-size: 18px;
    }
}
@media(max-width:576px){
    .firm-container{
        padding: 0;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .prize-firm{
        width:80%;
        padding: 0px;
        background-color: rgb(255, 255, 255);
        margin-top:10px;
        font-weight: 400;
        font-size: 15px;
        box-shadow: 0 0 5px rgb(0, 0, 0);
    }
    .services-description{
        float: left;
        margin-top: 15px;
    }
    .services-description p{
        padding: 10px;
        font-size: 15px;
    }
    .docs-container{
        padding: 5px;
        font-size: 12px;
    }
}
@media(max-width:450px){
    .prize-container{
        margin: 0;
        padding: 5px;
        height: auto;
    }
    .prize-services{
        padding: 10px;
        display: block;
    }
    .prize-service{
        display: block;
        font-size: 18px;
        width:100%;
    }
    .service-title{
        font-size: 18px;
        padding: 10px;
    }
    .services{
        margin-top: 30px;
        padding: 0;
    }
   
    .firm-container{
        width: 100%;
        height: auto;
    }
    .prize-firm{
        width:90%;
        height: 180px;
        padding: 0px;
        font-size: 13px;
        box-shadow: 0px 0px 3px black;
        margin-top: 10px;
    }
    .services-description{
        margin-top: 5px;
    }
    .name-prize{
        font-size: 12px;
    }
    .prize{
        font-size: 12px;
        font-weight: 600;
        padding: 5px;
    }
    .prize-prize{
        padding: 5px;
    }
    .prize-employee{
        font-size: 12px; 
        padding: 5px;
        height: auto;
    }
    @media(max-width:300px){
        .prize-firm{
            display: block;
            width:100%;
            height: 150px;
            padding: 0px;
            font-size: 13px;
            box-shadow: 0px 0px 3px black;
            margin-bottom: 5px;
            margin-left: 0;
            border-radius: 10px;
        }
        .services-description p{
            padding: 5px;
            font-size: 12px;
        }
    }
}